
.gameDirection {
  text-align: center;
}

.gameDirection h2 {
  font-size: 40px;
  text-decoration: underline;
  letter-spacing: 0.2rem;
}

.directionItems {
  padding: 5px 50px;
}
.directionItems li {
  padding: 20px 0;
}

@media only screen and (max-width: 680px) {
  .gameDirection h2 {
    margin-bottom: 0px;
  }
  
.directionItems {
  margin-top: 5px;
}
}