.header {
    background-color: orangered;
    display: flex;
    justify-content: space-around;
    padding: 20px 5px;
    border-bottom: 2px solid black;
    font-size: 24px;
}

.header div {
    padding: 10px 5px;
}
.play_now {
    cursor: pointer;
    border-radius: 5px;

}

.high_scores {
    cursor: pointer;
}

.settings {
    cursor: pointer;
}
.play_now.disabled {
 
}