/* _________________________________________________ */
/* PLAY NOW */
/* _________________________________________________ */

.question h4 {
    margin: 0px;
  }
  
  .questionContainer {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    height: 100%;
    
  }
  
  .question {
    text-align: right;
    font-size: 5rem;
  }
  
  .secondNumber {
    position: relative;
    
  }
  .line {
    background-color: black;
    height: 2px;
    width: 30%;
    margin: 10px auto;
  }
  .equals{
    display: none;
  }
  
  .operation {
    font-size: 3rem;
    position: absolute;
    left: -38px;
    bottom: 8px;
  }
  
  .answer-form{
    text-align: center;
  }
  
  .answer {
    /* font-family: 'Courier New', Courier, monospace; */
    width: 30%;
    font-size: 5rem;
    border-radius: 5px;
    text-align: center;
  }
/* ______________Media Queries_______________ */

@media only screen and (max-width: 680px) {}

@media only screen and (max-width: 450px) {
 
  .questionContainer{
    flex-direction: row;
    align-items: flex-start;
    margin: 30px 10px 10px;
  }
  .question {
    display: flex;
    flex-direction: row;
    font-size: 3.5rem;
  }
  .operation{
    font-size: 3rem;
    position: relative;
    left: 0;
    top: -5px;
    margin: 10px 10px 10px;
  }
  
  .line{
    display: none;
  }
  .equals{
    display: block;
  }
  .answer-form{
    /* margin-top: 9px; */
  }
  .answer{
    font-size: 3.0rem;
    width: 90%;
  }
}